<link rel="stylesheet" type="text/css" href="/css/listGoal.css" />

<div class="card-columns">
    {{#each allGoals}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{goalName}}</h5>
            <p class="card-text">{{goalDescription}}</p>
            <p class="card-text"><small class="text-muted">{{tag}}</small></p>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<h1> My Goals</h1>
<table>
    <tr>
        <th>Id</th>
        <th>GoalName</th>
        <th>GoalDescription</th>
        <th>Tag</th>
        <th>UnitName</th>
        <th>TotalUnit</th>
        <th>StartDate</th>
        <th>ProjectLength</th>
        <th>IsTask</th>
        <th>frequency</th>
        <th>timePeriod</th>
        <th>Operations</th>
    </tr>
{{#each allGoals}}
<tr>
    <td>{{_id}}</td>
    <td>{{goalName}}</td>
    <td>{{goalDescription}}</td>
    <td>{{tag}}</td>
    <td>{{unitName}}</td>
    <td>{{totalUnit}}</th>
    <td>{{startDate}}</td>
    <td>{{projectLength}}</td>
    <td>{{isTask}}</td>
    <td>{{frequency}}</td>
    <td>{{timePeriod}}</td>
    <td>{{#if isTask}}
        <a href="http://127.0.0.1:8080/updateTask?id={{_id}}">update</a>
        {{else}}
        <a href="http://127.0.0.1:8080/updateHabit?id={{_id}}">update</a>
        {{/if}}
        </td>
</tr>
{{/each}}

</table>

