<!DOCTYPE html>
<html>
<body>

<h2>Update Habit</h2>

<form action="http://127.0.0.1:8080/updateHabit?id={{goal._id}}" method="post">
    Goal Name:<br>
    <input type="text" name="goalName" value="{{goal.goalName}}">
    <br><br>
    Goal Description:<br>  
    <input type="text" name="goalDescription" value="{{goal.goalDescription}}">
    <br><br>
    Tag:<br>
    <input type="text" name="tag" value="{{goal.tag}}">
    <br><br>
    Frequency:<br>
    <input type="text" name="totalUnit" value="{{goal.frequency}}">
    <br><br>
    Time Period:<br>
       <select name="timePeriod" value="{{goal.timePeriod}}">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
    </select>
    <br><br>
    Start Date:<br>
    <input type="date" id="start" name="startDate" value="{{date}}">
    <br><br>
    <input type="submit" value="Update">
</form> 
</form> 

</body>
</html>